{% extends "base.html" %}
{% block title %} Questions {% endblock %}
{% block content %}
    <p><h3>What Are the Websites Being Browsed COMPANYWIDE?</h3></p>

	<table>
	<tr>
	  <th>#</th>
	  <th><b>URL_BEING_BROWSED</b></th>
	  <th>CURRENTLY_BROWSED_BY</th>

	</tr>
	{% for question in questions %}
	<tr>
	  <th> {{question.id}}</th>
	  <th> <a href="{% url "question_detail" question.id %}">{{question.subject}}</th>
	  <th> {{question.cmpnyvisit}} Employee(s)</th>
	</tr> 
	{% endfor %}
	</table>

{% endblock %}

