{% extends "base.html" %}
{% block title %}Question detail{% endblock %}
{% block content %}
	<h2>{{question.subject}}</h2>
	<p><a href="{% url "question_edit" question.id %}">I Want to Leave A Comment!</a></p>
	<p><b>Last Visited:</b> {{question.publication_date|date:"D, Y/m/d"}}</p>
	{% if question.description %}
		<p>Number Of Employees On This Website Now: {{question.cmpnyvisit}}</p>
	{% else %}
		No description provided
	{% endif %}
	</p>
	<h3>Commnets</h3>
	<ul>

			<li>{{question.description|safe}}</li>

	</ul>
{% endblock %}

